body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #012b47;
  margin: 0;
}
#app {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
}
h1 {
  color: #37474f;
  font-size: 2em;
  margin-bottom: 20px;
}
#login, #admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
input[type="text"], input[type="password"] {
  display: block;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 20px;
  border: 2px solid #cfd8dc;
  outline: none;
  transition: border-color 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus {
  border-color: #607d8b;
}
button {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  background-color: #00004e;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #00004e;
}
.candidato, .resultado {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eceff1;
  transition: background-color 0.3s;
}
.candidato:hover, .resultado:hover {
  background-color: #cfd8dc;
}
.candidato img, .resultado img {
  max-width: 50px;
  border-radius: 50%;
}
#resultado h2 {
  color: #37474f;
  font-size: 1.5em;
  margin-bottom: 20px;
}
